body {
  background: #ffffff;
  text-align: center;
}

.title_container {
  background: white;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  text-align: center;
  color: #4caf50;
}

.form {
  background: white;
  width: 30%;
  margin: 10px auto auto auto;
  text-align: center;
  color: #536aeb;
}

.postcode_input{
  font-size: 20px;
  margin: auto auto 10px auto;
}
.result {
  width: 50%;
}

.postcode_buttons_container {
  width: 40%;
  margin: auto;
}
.postcode_button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.result_container {
  text-align: center;
}

.leaflet-container { 
   width: 70%;  height: 77vh;
   margin: auto; 
   border: 1px solid rgb(83, 79, 79);
  }
